.line1
{
    width: 1px;
    height: 46px;
    background-color:#e1e1e1;
}

.line2
{
    width: 700px;
    height: 1px;
    background-color: #e1e1e1;


}

.line3
{
    width: 200px;
    height: 1px;
    background-color: #e1e1e1;

}

